.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.home-text {
  color: #0e433a;
  font-size: 20px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  font-weight: 700;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text001 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text002 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text003 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
}
.home-text004 {
  color: var(--dl-color-scheme-green80);
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-button {
  text-decoration: underline;
}
.home-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.home-max-width01 {
  align-self: center;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100) #ecdcdc;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text005 {
  color: #ecdcdc;
}
.home-text006 {
  color: #ecdcdc;
}
.home-text007 {
  color: #ecdcdc;
}
.home-title {
  color: rgb(226, 132, 13);
  font-size: 52px;
  align-self: flex-start;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.home-button1 {
  justify-content: flex-end;
}
.home-link {
  text-decoration: underline;
}
.home-image01 {
  position: relative;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-image02 {
  width: 772px;
  height: 602px;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}
.home-section {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width02 {
  align-items: stretch;
}
.home-image03 {
  width: auto;
  align-self: center;
  margin-right: 42px;
}
.home-content1 {
  width: 50%;
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-text008 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text009 {
  color: #e08033;
}
.home-text012 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-image04 {
  width: 475px;
  height: 351px;
  object-fit: cover;
}
.home-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width03 {
  width: auto;
  align-items: stretch;
}
.home-content2 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text028 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text030 {
  color: #e08033;
}
.home-text031 {
  color: #e08033;
}
.home-text033 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text034 {
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image05 {
  width: 607px;
  height: 400px;
  object-fit: cover;
}
.home-image06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section2 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width04 {
  width: auto;
  align-items: stretch;
}
.home-content3 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text045 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text046 {
  color: #e08033;
}
.home-text049 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image07 {
  width: 588px;
  height: 352px;
  object-fit: cover;
}
.home-image08 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section3 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width05 {
  width: auto;
  align-items: stretch;
}
.home-content4 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text058 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text059 {
  color: #e08033;
}
.home-text062 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image09 {
  width: 593px;
  height: 414px;
  object-fit: cover;
}
.home-image10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section4 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width06 {
  width: auto;
  align-items: stretch;
}
.home-content5 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text077 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text079 {
  color: #e08033;
}
.home-text083 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image11 {
  width: 629px;
  height: 456px;
  object-fit: cover;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.home-image12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section5 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width07 {
  width: auto;
  align-items: stretch;
}
.home-content6 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text095 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text097 {
  color: #e08033;
}
.home-text098 {
  color: #e08033;
}
.home-text100 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-image13 {
  width: 766px;
  height: 351px;
  object-fit: cover;
}
.home-image14 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section6 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width08 {
  width: auto;
  align-items: stretch;
}
.home-content7 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text109 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text111 {
  color: #e08033;
}
.home-text112 {
  color: #e08033;
}
.home-text114 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image15 {
  width: 591px;
  height: 397px;
  object-fit: cover;
}
.home-image16 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-section7 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width09 {
  width: auto;
  align-items: stretch;
  margin-left: 0px;
  padding-left: var(--dl-space-space-twounits);
}
.home-content8 {
  width: 50%;
  display: flex;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text120 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text122 {
  color: #e08033;
}
.home-text123 {
  color: #e08033;
}
.home-text125 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image17 {
  width: 676px;
  height: 376px;
  object-fit: cover;
}
.home-image18 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container20 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text150 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-link3 {
  text-decoration: underline;
}
.home-link4 {
  text-decoration: underline;
}
.home-button2 {
  width: 387px;
  height: 58px;
}
.home-link5 {
  text-decoration: underline;
}
@media(max-width: 991px) {
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image01 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-max-width02 {
    flex-direction: column;
  }
  .home-image03 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width03 {
    flex-direction: column;
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image06 {
    padding-bottom: 0px;
  }
  .home-max-width04 {
    flex-direction: column;
  }
  .home-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image08 {
    padding-bottom: 0px;
  }
  .home-max-width05 {
    flex-direction: column;
  }
  .home-content4 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image10 {
    padding-bottom: 0px;
  }
  .home-max-width06 {
    flex-direction: column;
  }
  .home-content5 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image12 {
    padding-bottom: 0px;
  }
  .home-max-width07 {
    flex-direction: column;
  }
  .home-content6 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image14 {
    padding-bottom: 0px;
  }
  .home-max-width08 {
    flex-direction: column;
  }
  .home-content7 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image16 {
    padding-bottom: 0px;
  }
  .home-max-width09 {
    flex-direction: column;
  }
  .home-content8 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image18 {
    padding-bottom: 0px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-container20 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-text {
    color: rgb(14, 67, 58);
    font-size: 20px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: inherit;
    font-weight: 600;
  }
  .home-links {
    display: none;
  }
  .home-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .home-max-width01 {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content4 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content5 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content6 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content7 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content8 {
    width: 100%;
    margin-right: 0px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container20 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-text {
    color: rgb(14, 67, 58);
    font-size: 20px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-content {
    width: 465px;
  }
  .home-subtitle {
    color: var(--dl-color-scheme-orange100);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-threeunits);
  }
  .home-text006 {
    color: #f9f2f2;
  }
  .home-text007 {
    color: #f9f2f2;
  }
  .home-title {
    color: rgb(226, 132, 13);
    width: 388px;
    font-size: 32px;
    align-self: flex-start;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.2;
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-container02 {
    justify-content: center;
  }
  .home-image02 {
    width: 479px;
    height: 406px;
    margin-left: 0px;
  }
  .home-max-width02 {
    margin-left: 0px;
    border-color: var(--dl-color-scheme-green100);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-image03 {
    width: 390px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
  .home-content1 {
    width: 373px;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text008 {
    width: 479px;
    height: 106px;
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text009 {
    color: #f18e12;
  }
  .home-text012 {
    align-self: flex-end;
    line-height: 1.5;
  }
  .home-text017 {
    font-weight: 700;
  }
  .home-text020 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text021 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text022 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text023 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text024 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text025 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-text026 {
    color: #060606;
    font-style: normal;
    font-weight: 300;
  }
  .home-image04 {
    width: 100%;
    height: 311px;
  }
  .home-content2 {
    width: 390px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .home-text028 {
    align-self: flex-start;
    line-height: 1.25;
  }
  .home-text030 {
    color: #f18e12;
  }
  .home-text031 {
    color: #f18e12;
  }
  .home-text033 {
    line-height: 1.5;
  }
  .home-text037 {
    font-weight: 700;
  }
  .home-text040 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
  }
  .home-text041 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
  }
  .home-text042 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
  }
  .home-text043 {
    color: #000000;
    font-style: normal;
    font-weight: 300;
  }
  .home-image05 {
    width: 411px;
    height: 320px;
  }
  .home-section2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-container07 {
    width: 390px;
  }
  .home-text045 {
    font-size: 42px;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text046 {
    color: #f18e12;
  }
  .home-text049 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text053 {
    font-weight: 700;
  }
  .home-image07 {
    width: 100%;
    height: 275px;
  }
  .home-section3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-container09 {
    width: 390px;
  }
  .home-text058 {
    line-height: 1.25;
  }
  .home-text059 {
    color: #f18e12;
  }
  .home-text060 {
    color: #f18e12;
  }
  .home-text062 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text064 {
    font-weight: 700;
  }
  .home-text065 {
    font-weight: 700;
  }
  .home-text066 {
    font-weight: 700;
  }
  .home-text067 {
    font-weight: 700;
  }
  .home-text068 {
    font-weight: 700;
  }
  .home-text070 {
    font-weight: 700;
  }
  .home-text072 {
    font-weight: 700;
  }
  .home-text074 {
    font-weight: 700;
  }
  .home-image09 {
    width: 401px;
    height: 333px;
  }
  .home-section4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-container11 {
    width: 391px;
  }
  .home-text077 {
    line-height: 1.25;
  }
  .home-text079 {
    color: #f18e12;
  }
  .home-text080 {
    color: #f18e12;
  }
  .home-text083 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text087 {
    font-weight: 700;
  }
  .home-text088 {
    font-weight: 700;
  }
  .home-text089 {
    font-weight: 700;
  }
  .home-image11 {
    width: 100%;
    height: 333px;
    padding-left: 0px;
  }
  .home-section5 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-container13 {
    width: 390px;
  }
  .home-text095 {
    line-height: 1.25;
  }
  .home-text097 {
    color: #f18e12;
  }
  .home-text098 {
    color: #f1a714;
  }
  .home-text100 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-text104 {
    font-weight: 700;
  }
  .home-text105 {
    font-weight: 700;
  }
  .home-text106 {
    font-weight: 700;
  }
  .home-image13 {
    width: 100%;
    height: 309px;
  }
  .home-section6 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-container15 {
    width: 390px;
  }
  .home-text109 {
    line-height: 1.25;
  }
  .home-text111 {
    color: #f18e12;
  }
  .home-text112 {
    color: #f1a714;
  }
  .home-text114 {
    line-height: 1.5;
  }
  .home-image15 {
    width: 100%;
    height: 308px;
  }
  .home-container17 {
    width: 390px;
  }
  .home-text120 {
    line-height: 1.25;
  }
  .home-text122 {
    color: #f18e12;
  }
  .home-text123 {
    color: #f18e12;
  }
  .home-text125 {
    font-size: 16px;
    line-height: 1.5;
  }
  .home-image17 {
    width: 100%;
    height: 308px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container20 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .home-container21 {
    width: 323px;
  }
  .home-text150 {
    font-weight: 700;
  }
  .home-text152 {
    color: #92213a;
  }
  .home-text153 {
    color: #92213a;
  }
  .home-text164 {
    color: #920b38;
  }
  .home-text165 {
    color: var(--dl-color-scheme-green100);
    text-decoration: underline;
  }
  .home-text166 {
    color: var(--dl-color-scheme-green100);
    text-decoration: underline;
  }
  .home-link3 {
    color: var(--dl-color-scheme-green100);
    text-decoration: underline;
  }
  .home-link4 {
    text-decoration: underline;
  }
  .home-button2 {
    width: 307px;
    height: 61px;
  }
  .home-link5 {
    text-decoration: underline;
  }
}
